<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomAlertView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C6D0E201D46345200ADDD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6D0E391D46345300ADDD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6D0E441D46345300ADDD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
